[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "external/glew"]
	path = external/glew
	url = https://github.com/Perlmint/glew-cmake.git
[submodule "external/libpng"]
	path = external/libpng
	url = https://github.com/tamaskenez/libpng-cmake.git
